.users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

table{
  border-spacing: 5px;
}

.base ,th, td {
  border: 1px solid black;
}

th,td {
  border-style: groove;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

.caption {
  text-transform: uppercase;
  font-weight: 1000;
  font-size: large;
}